<div class="wrap">
    <div class="flexbox">
      <div class="first-box">
        <a href="https://goodtogrowproducts.com/">
        </a>     
      </div>
      <div class="second-box">
        <div class="company_detail">
            <p class="email">
                 {{email}}
            </p>
            <p class="phone">
                {{phone}}
            </p>
            <p class="street">
                {{street}}
            </p>
            <p class="location">
                {{location}}
            </p>
        </div>
        <p class="blurb">
          {{blurb}}
        </p>
      </div>
   
      <div class="third-box">
        <div class="news_and_support">
            <a href={{news_letter_link}}>{{news_letter}}</a>
            <p class="support">
                &#169; All right reserved • Powered by <a href="https://haylar.com/"></a>
            </p>
        </div>
       
      

        <div class="social">
          {{#each socialLinks as |link|}}
            <a
              class="social-link {{link.className}}"
              title={{link.title}}
              target={{link.target}}
              href={{link.href}}
            >
              {{d-icon link.icon}}
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>